<?xml version="1.0" encoding="UTF-8"?>

<!-- Minimalkonfiguration für Tests -->
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%10.10thread] %.-1level %.-30(%-30logger{0}) %message%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
